.App {
  text-align: center;
  margin: 20px;
  font-size: 25px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.App-logo {
  height: 50px;
}

.App-body {
  margin: auto;
  margin-top: 20px;
  background-color: rgb(193, 251, 255);
  width: 90%;
  color: black;
  border: 2px solid rgb(24, 7, 87);
  border-radius: 5px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  text-align: left;
  list-style-image: url('./square3.gif');
  padding: 5px;
}
.App-header {
  margin: auto;
  background-color: rgb(171, 203, 250);
  height: 175px;
  padding: 15px;
  width: 55%;
  color: black;
  border: 2px solid rgb(24, 7, 87);
  border-radius: 5px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.App-intro {
  font-size: large;
}

.definition {
  margin: left;
}

.button {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  font-size: large;
}
